<!DOCTYPE html>
<html>
<head>
  <title>{% block page_head_title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
body, html {
        font-family: Verdana, Arial, sans-serif;
}
{{ style }}
  </style>
</head>
<body>

<table id="page_header" width="100%">
  <tr>
    <td><h1>{{ header }}</h1></td>
  </tr>

</table>
<hr>
<h2 id="page_title"><center>{{ title }}</center></h2>
<div class="legend">Evenimente coordonate:</div>
<ul>
{% for activitate in persoana.activitati_coordonate %}
  <li>{{ activitate.nume }}, coordonator {{ activitate.coordonator.nume }}</li>
{% else %}
    <li>Nu exista</li>
{% endfor %}
</ul>

<div class="legend">Evenimente la care participa:</div>
<ul>
{% for activitate in persoana.activitati %}
  <li>{{ activitate.nume }}, coordonator {{ activitate.coordonator.nume }}</li>
{% else %}
    <li>Nu exista</li>
{% endfor %}
</ul>

<div class="legend">Sarcini efectuate:</div>
<ul>
{% for activitate in persoana.taskuri %}
  <li>{{ activitate.nume }}</li>
{% else %}
    <li>Nu exista</li>
{% endfor %}
</ul>
<div id="page_footer">{{ footer }}</div>

</body>
</html>


