<!DOCTYPE html>
<html>
<head>
  <title>{% block page_head_title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
body, html {
        font-family: Verdana, Arial, sans-serif;
}
{{ style }}
  </style>
</head>
<body>

<table id="page_header" width="100%">
  <tr>
    <td><h1>{{ header }}</h1></td>
  </tr>

</table>
<hr>
<h2 id="page_title"><center>{{ title }}</center></h2>
<span class="legend">Resursa este folosita de catre:</span>
<ul>
{% for activitate in activitati %}
  <li>{{ activitate.nume }}, coordonator {{ activitate.coordonator.nume }}</li>
{% endfor %}
</ul>
<div id="page_footer">{{ footer }}</div>

</body>
</html>


